<main class="attraction">
<section class="section1">
  <div class="sec_wrap">
    <div class="subpage_title_wrap">
        <h2>WHAT"S ON</h2>
        <div class="subpage_title">
            <div>
                <h2>E</h2>
            </div>
            <div>
                <h2>V</h2>
            </div>
            <div>
                <h2>E</h2>
            </div>
            <div>
                <h2>N</h2>
            </div>
            <div>
                <h2>T</h2>
            </div>
        </div>
    </div>
</div>
<div class="wave">
    <div class="wave_bg wbg_top"></div>
</div>

</section>


</main>